@model IEnumerable<FileModel>

@{
    ViewData["Title"] = "Home Page";
}

<table>
        <thead>
            <tr>
                <th scope="col">File Name:</th>
            </tr>
        </thead>
        @foreach (FileModel file in Model)
        {
            <tbody>
                <tr>
                <td>@file.FileName</td>
                <td> <a asp-controller="Home" asp-action="GetFileData" asp-route-fileName="@file.FileName" class="btn btn-info">Choose</a></td>
            </tr>
            </tbody>
        }
</table>
