@model IEnumerable<TeamModel>

@{
    ViewData["Title"] = "Home Page";
}

@if (!Model.Any())
{
    <h2 class="text-center text-danger">No matches!</h2>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Employee ID #1</th>
                <th scope="col">Employee ID #2</th>
                <th scope="col">Project ID</th>
                <th scope="col">Days worked</th>
            </tr>
        </thead>
        @foreach (var team in Model)
        {
            <tbody>
                <tr>
                    <td>@team.FirstEmployeeId</td>
                    <td>@team.SecondEmployeeId</td>
                    <td>@team.ProjectId</td>
                    <td>@team.DaysWorked</td>
                </tr>
            </tbody>
        }
    </table>
}
